<!DOCTYPE html>
<html>
	<head>
		<title>projectL</title>
		<link href="../public/css/custom.css" rel="stylesheet" media="screen">
		<link href="../public/css/bootstrap.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="#">projectL</a>
				<ul class="nav">
					<li><a href="#">My List</a></li>
				</ul>
				<form class="navbar-form pull-right">
					<input type="text" class="input-medium" placeholder="Username">
					<input type="password" class="input-medium" placeholder="Password">
					<button type="submit" class="btn">登入</button>
				</form>
			</div>
		</div>
		<div class="container">
			<div class="hero-unit">
				<h1>敗家清單</h1>
				<p>物慾無極限，敗家促進經濟！</p>
			</div>
			<form class="form-inline text-center">
				<input id="input-push" class="input-xxlarge" type="text" placeholder="PUSH一個清單項目吧！">
				<button type="sub" class="btn btn-primary">PUSH</button>
			</form>
			<table class="table table-hover table-condensed">
				<tr>
					<td>1</td>
					<td><strong>女朋友</strong></td>
					<td>_(:3 」∠ )_</td>
					<td>無價</td>
					<td><em>2013-08-16</em></td>
					<td class="td-button"><button class="btn btn-danger"><i class="icon-remove-sign"></i>刪除</button></td>
				</tr>
				<tr>
					<td>2</td>
					<td><strong>ONKYO GX-70HD2</strong></td>
					<td>要找人幫我去日本代購</td>
					<td>¥14,360</td>
					<td><em>2013-08-16</em></td>
					<td class="td-button"><button class="btn btn-danger"><i class="icon-remove-sign"></i>刪除</button></td>
				</tr>
				<tr>
					<td>3</td>
					<td><strong>DELL UltraSharp U2412M</strong></td>
					<td>目前最便宜的16:10 24"螢幕</td>
					<td>NTD$8800</td>
					<td><em>2013-08-16</em></td>
					<td class="td-button"><button class="btn btn-danger"><i class="icon-remove-sign"></i>刪除</button></td>
				</tr>
			</table>
		</div>
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>